In [1]:
import numpy as np
import pandas as pd

In [2]:
#reading the dataset
#df = pd.read_csv('imbd_dataset.csv')
df=pd.read_csv("imdb_labelled.txt",sep='\t',names=['review','sentiment'])

In [3]:
df.head(5)

                                              review  sentiment
0  A very, very, very slow-moving, aimless movie ...          0
1  Not sure who was more lost - the flat characte...          0
2  Attempting artiness with black & white and cle...          0
3       Very little music or anything to speak of.            0
4  The best scene in the movie was when Gerardo i...          1

In [4]:
import re
def remov_html_tags(text):
    """
    Removes HTML tags from the input string.

    Parameters
    ----------
    text : str
        The input string containing HTML tags.

    Returns
    -------
    str
        The input string with HTML tags removed.
    """
    pattern = re.compile('<.*?>')
    return pattern.sub('r',text)

In [5]:
df['review']=df['review'].apply(remov_html_tags)

In [6]:
import string 
punction_list=string.punctuation

In [7]:
def remov_punction(text):
    """
    Removes HTML tags from the input string.

    Parameters
    ----------
    text : str
        The input string containing punction.

    Returns
    -------
    str
        The input string without the punction.
    """
    return text.translate(str.maketrans('','',punction_list))

In [8]:
df['review']=df['review'].apply(remov_punction)

In [9]:
df.head(5)

                                              review  sentiment
0  A very very very slowmoving aimless movie abou...          0
1  Not sure who was more lost  the flat character...          0
2  Attempting artiness with black  white and clev...          0
3        Very little music or anything to speak of            0
4  The best scene in the movie was when Gerardo i...          1

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X=df['review']
y=df['sentiment']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,shuffle=True,random_state=666)

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\shiva
[nltk_data]     gaire\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [17]:
vectorizer = TfidfVectorizer(tokenizer=nltk.word_tokenize,
                             stop_words='english',
                             lowercase=True,
                             ngram_range=(1, 1))

In [18]:
X_train_vec=vectorizer.fit_transform(X_train)
X_test_vec=vectorizer.transform(X_test)

c:\users\shiva gaire\appdata\local\programs\python\python39\lib\site-packages\sklearn\feature_extraction\text.py:525: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [20]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression