In [41]:
import numpy as np
import pandas as pd

In [73]:
#reading the dataset
#df = pd.read_csv('imbd_dataset.csv')
df=pd.read_csv("imdb_labelled.txt",sep='\t',names=['review','sentiment'])

In [74]:
df.head(5)

                                              review  sentiment
0  A very, very, very slow-moving, aimless movie ...          0
1  Not sure who was more lost - the flat characte...          0
2  Attempting artiness with black & white and cle...          0
3       Very little music or anything to speak of.            0
4  The best scene in the movie was when Gerardo i...          1

In [75]:
df.shape

(748, 2)

# Performing the text preprocessing

1) Converting review into lowercase

In [76]:
#lowercasing all the review
df['review']=df['review'].str.lower()

In [77]:
df.head(2)

                                              review  sentiment
0  a very, very, very slow-moving, aimless movie ...          0
1  not sure who was more lost - the flat characte...          0

2)Removing the html tag

In [78]:
import re
def remov_html_tags(text):
    """
    Removes HTML tags from the input string.

    Parameters
    ----------
    text : str
        The input string containing HTML tags.

    Returns
    -------
    str
        The input string with HTML tags removed.
    """
    pattern = re.compile('<.*?>')
    return pattern.sub('r',text)

In [79]:
df['review']=df['review'].apply(remov_html_tags)

In [80]:
df.head(2)

                                              review  sentiment
0  a very, very, very slow-moving, aimless movie ...          0
1  not sure who was more lost - the flat characte...          0

3)Removing Punctuation(!,#,$,% etc)

In [81]:
import string 
punction_list=string.punctuation

In [82]:
def remov_punction(text):
    """
    Removes HTML tags from the input string.

    Parameters
    ----------
    text : str
        The input string containing punction.

    Returns
    -------
    str
        The input string without the punction.
    """
    return text.translate(str.maketrans('','',punction_list))

In [83]:
df['review']=df['review'].apply(remov_punction)

4) Performing the word tokenization

In [84]:
from nltk.tokenize import word_tokenize
def word_tokenization(text):
    return word_tokenize(text)

In [85]:
df['review']=df['review'].apply(word_tokenization)

In [86]:
df.head(2)

                                              review  sentiment
0  [a, very, very, very, slowmoving, aimless, mov...          0
1  [not, sure, who, was, more, lost, the, flat, c...          0

5) Removing the stops word

In [87]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\shiva
[nltk_data]     gaire\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [88]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

In [92]:
def remov_stop_words(tokenize_list):
    new_list=[word for word in tokenize_list if word not in stop_words]
    return new_list

In [93]:
df['review']=df['review'].apply(remov_stop_words)

In [91]:
df.head(5)

                                              review  sentiment
0  [a, very, very, very, slowmoving, aimless, mov...          0
1  [not, sure, who, was, more, lost, the, flat, c...          0
2  [attempting, artiness, with, black, white, and...          0
3  [very, little, music, or, anything, to, speak,...          0
4  [the, best, scene, in, the, movie, was, when, ...          1

6) Steamming the data

In [62]:
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()

In [64]:
df['review'][0]

"['one', 'reviewers', 'mentioned', 'watching', '1', 'oz', 'episode', 'youll', 'hooked', 'right', 'exactly', 'happened', 'merrthe', 'first', 'thing', 'struck', 'oz', 'brutality', 'unflinching', 'scenes', 'violence', 'set', 'right', 'word', 'go', 'trust', 'show', 'faint', 'hearted', 'timid', 'show', 'pulls', 'punches', 'regards', 'drugs', 'sex', 'violence', 'hardcore', 'classic', 'use', 'wordrrit', 'called', 'oz', 'nickname', 'given', 'oswald', 'maximum', 'security', 'state', 'penitentary', 'focuses', 'mainly', 'emerald', 'city', 'experimental', 'section', 'prison', 'cells', 'glass', 'fronts', 'face', 'inwards', 'privacy', 'high', 'agenda', 'em', 'city', 'home', 'manyaryans', 'muslims', 'gangstas', 'latinos', 'christians', 'italians', 'irish', 'moreso', 'scuffles', 'death', 'stares', 'dodgy', 'dealings', 'shady', 'agreements', 'never', 'far', 'awayrri', 'would', 'say', 'main', 'appeal', 'show', 'due', 'fact', 'goes', 'shows', 'wouldnt', 'dare', 'forget', 'pretty', 'pictures', 'painted', 'mainstream', 'audiences', 'forget', 'charm', 'forget', 'romanceoz', 'doesnt', 'mess', 'around', 'first', 'episode', 'ever', 'saw', 'struck', 'nasty', 'surreal', 'couldnt', 'say', 'ready', 'watched', 'developed', 'taste', 'oz', 'got', 'accustomed', 'high', 'levels', 'graphic', 'violence', 'violence', 'injustice', 'crooked', 'guards', 'wholl', 'sold', 'nickel', 'inmates', 'wholl', 'kill', 'order', 'get', 'away', 'well', 'mannered', 'middle', 'class', 'inmates', 'turned', 'prison', 'bitches', 'due', 'lack', 'street', 'skills', 'prison', 'experience', 'watching', 'oz', 'may', 'become', 'comfortable', 'uncomfortable', 'viewingthats', 'get', 'touch', 'darker', 'side']"